
nav ul a,



body{
background-attachment: fixed; 
background-image: url("marmol.jpg ");
margin:auto;
padding-left: 20px;}
 
.frase{
  margin-bottom: 100px;
  display: flex;
  align-content: center;
  font-family: 'Courier Prime', monospace; color: black;
  background-color: red;
  

}

.frase p{ 
  font-family: 'Courier Prime', monospace; color: black;
text-align: center;
color: white;
font-weight: bold;}
h1{
display: block;
width: auto;
margin-bottom: center;
color:white;
font-size: 50px;
font-family: 'Oswald', sans-serif;
}

img{
  border-radius: 30px;
}
h4 {color: #f50057 ;
padding: 20px;
background: white;
font-weight: bold;
margin: 30px;
width: 300px;
text-shadow: 9px 10px 15px black;
}
p {font-family: 'Staatliches', cursive;
  color: white;
  font-size: 25px;}
h5{
  color:white;
font-size: 25px
font-weight: bold;
}  



#parallax{

  margin: auto;
  margin-top: 100px;
 margin-bottom:100px;
}


.dropdown a:hover{
  text-decoration: none;
  color: pink;
}
#index-banner{
  text-shadow: 9px 13px 20px black;
  background-image: url(azules.png);
  background-size: cover;
  background-position: center;
  padding: 50px;
  width: auto;
  height: auto;
  box-shadow: 3px 3px 5px black;
  margin: auto;
  margin-top: 100px;
}
#index-banner h1{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
 font-weight: bold 6px;
}

.card{
background-image: url(lapiz.jpeg);
height: 200px;
width: 250px;
border-radius: 15px;
background-size: cover;
background-position: center;
position: relative;
margin: 100px;
margin-right: 20px;
}
.categoria{
  background: white;
  padding: 5px 10px;
 position: absolute;
border-radius: 6px;
bottom:  10px;
left: 10px;
}

.avatar{
  border-radius: 50px;
  border: 2px solid red;
 height: 30px;
 width: 35px;
}
#portero{
background: rgba(0, 0, 0, 0.9);
width: auto;
height: auto;
padding: 20px;
margin: auto;
margin-top: 0px;

box-shadow: 3px 3px 5px black; 
}

#primerabarra{
border-radius: 5px;
font-size: 15px;
font-weight: bold 10px;
background-color: #FFD700;
display:flex;
flex-direction: row;
justify-content: center;
align-content: center;
width: auto;
margin: auto;
margin-bottom: 0px;
height: auto;
color: white;
padding: 20px;
box-shadow: 3px 3px 5px black;
margin-right: auto;
margin-left: auto;}

.debajodehistoria{

box-shadow: 3px 3px 5px black;
  background: white;
  width: auto;
  height: auto ;
  padding: 20px;
 margin: auto;
 margin-top: 30px;
margin-bottom: 100px;
margin-right: auto;
margin-left: auto;
}

.debajodehistoria p{
line-height: 3rem;
 font-family: 'Courier Prime', monospace; color: black;
 }


.instagram{
  display: flex;
  margin: 100px auto;
  padding: 40px;
  justify-content: center;
}

 #footer {
  box-shadow: 3px 3px 5px black;
  background-color: #0B5345;
  margin: 50px 20px ;
  border-radius: 10px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
  font-size: 50px;
}
#footer a {

  color: white;
}
#footer a:hover{
  color: yellow;
}


h3{
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  color: white;
}
.video{
  margin: 100px;
}


#carouselExampleControls{
  display: flex;
border-radius: 10px;
margin-right: auto;
margin-left: auto;
justify-content: center;
align-content: center;

}


.botton a {
  color: white;

}
.botton a:hover{
   text-decoration: none;
   font-size: 25px;
   font-weight: bold;
}
input:invalid {
  border: 2px dashed red;
}

input: invalid:required {
  background-color: rgba(255,50,50,0.6);
}

input:valid {
  border: 2px solid black;
}
